<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Go to game</h1>

    <div class="form">
        <form method="post" id="loginForm">
            <div class="mt-10"><input type="text" name="username" id="formUsername" placeholder="Email.."></div>
            <div class="mt-10"><input type="password" name="password" id="formPassword" placeholder="Password"></div>
            <div class="mt-10"><button type="submit">Enviar</button></div>
        </form>
    </div>

    <script src="../public/js/Login.js"></script>
</body>

</html>